<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova encomenda para ser retirada:</p>
<p>
  <strong>Produto: {{ product }}</strong> <br />
  <strong>Cliente: </strong> {{ recipient }}<br />
  <strong>Endereço: </strong> {{ address }}<br />
  <br />
  <small>
   Lembrando que as retiradas só podem ser feitas entre 08:00 e 18:00h!
  </small>
</p>
